#last-card-grid{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
}


.col-md-4 img{
    display: flex;
    max-height: 25vh;
    max-width: 10vw;
    min-width: 10vw;
    min-height: 20vh;
    object-fit: cover;
    margin: auto;
    margin-top: 20px;
}

#writing {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    min-width: 40vw;
    min-height: 20vh;
    max-width: 46vw;
    max-height: 30vh;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur();
}

#writing a{
    text-decoration: none;
    color:black;
    user-select: none;
}

#writing:hover{
    box-shadow: 2px 4px 4px 0 rgb(148,102,218);
    transition: 0.3s;
}

.card p {
    margin-bottom: 5px;
    font-size: 15px;
    text-overflow: ellipsis;
}

cite{
    display: flex;
    justify-content: flex-end;
}